.root {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}

.arrow {
  border: solid gainsboro;
  border-width: 0 15px 15px 0;
  display: inline-block;
  padding: 15px;
  opacity: 0.2;
}

.rightArrow {
  transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.leftArrow {
  transform: rotate(135deg);
  transform: rotate(135deg);
}

.upArrow {
  transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.downArrow {
  transform: rotate(45deg);
  transform: rotate(45deg);
}

.button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:active .arrow {
  opacity: 0.7;
}

.left {
  width: 25%;
  height: 50%;
  left: 0;
  top: 25%; 
}

.right {
  width: 25%;
  height: 50%;
  right: 0;
  top: 25%; 
}

.top {
  width: 50%;
  height: 25%;
  left: 25%; 
  top: 0;
}

.bottom {
  width: 50%;
  height: 25%;
  left: 25%; 
  bottom: 0;
}

@media only screen and (max-width: 700px) {
  .root {
    display: block;
  }
}
