.row {
  display: flex;
  justify-content: space-between;
}

.score {
  color: yellow;
  white-space: pre;
}

.stats {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.responsiveScore {
  float: right;
  display: none;
}

.muteButton {
  background: 0;
  border: 0;
  display: inline-block;
  cursor: pointer;
}

.muteButton img {
  width: 24px;
  height: 24px;
}

@media only screen and (max-width: 700px) {
  .row {
    display: none;
  }

  .stats {
    font-size: 12px;
  }

  .responsiveScore {
    display: block;
  }

  .muteButton img {
    width: 20px;
    height: 20px;
  }
}
